h1{
  margin: 2rem;
  border-bottom: 2px solid #2c3e70;
  font-family: "Baskervville SC", serif;
}

img{
  min-width: 15rem;
  max-width: 20rem;
  margin: 0 1rem 3rem 1rem;
}

.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}